node_modules/
coverage/
npm-debug.log
cartridges.zip
.idea/
dw.json
sitegenesisdata/
mobilefirstdata/
storefrontdata/
test/integration/output
.DS_Store
test/appium/webdriver/config.json
.history
package-lock.json
yarn.lock
**/static/default/css/**
**/static/default/js/**
differencify_reports/__image_snapshots__/__current_output__
differencify_reports/__image_snapshots__/__differencified_output__
.vscode